@import url(http://fonts.googleapis.com/css?family=Nobile);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

* {
    	margin: 0;
    	padding: 0;
}

body {
	font-size: 16px;
	line-height: 20px;
  	background-color: lightblue;
  	background-position: center center;
  	background-repeat: no-repeat;
  	background: -webkit-gradient(radial, center center, 0, center center, 460, from(green), to(yellow));
  	background: -webkit-radial-gradient(circle, green, yellow);
  	background: -moz-radial-gradient(circle, green, yellow);
  	background: -ms-radial-gradient(circle, green, yellow);
	color: white;
}

a {	
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: black;
}

a:visited {
	color: white;
}

.head {
	padding-top:20px;
	height: 280px;
}

p.coordinate {	
	text-align: center;
	background-color: lightblue;
	color: black;
	padding: 10px 0;
	border-radius: 10px;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 54px;
	font-weight: 100;
	line-height: 60px;
	color: white;
	text-shadow: 2px 2px blue;
	margin: 0 0 20px 0;
}

h2 {	
	font-family: 'Permanent Marker', cursive;
	font-size: 32px;
	line-height: 40px;
	font-weight: 100;
	color: white;
	text-shadow: 1px 1px blue;
	margin: 0;
}

h3 {
	font-family: 'Permanent Marker', cursive;
	font-size: 36px;
	font-weight: lighter;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px blue;
}

#google_translate_element {
	padding-top: 20px;
}

img.logo {
	width: 460px;
}

figure.camera img {
	width: 440px;
	height: 250px;
	border: 10px solid lightblue;
	border-radius: 8px;
}

ul li,
p {
	font-family: 'Nobile';
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
}

article {
	margin: 20px 0;
}

article a {
	text-decoration: underline;
}

.gmaps {
	border: 10px solid lightblue;
	border-radius: 8px;
	height: 400px;
	margin-bottom: 20px;
}

footer {
	text-align: center;
}
