@import url(http://fonts.googleapis.com/css?family=Nobile);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

* {
    	margin: 0;
    	padding: 0;
}

body {
	font-size: 16px;
	line-height: 20px;
  	background-color: lightblue;
  	background-position: center center;
  	background-repeat: no-repeat;
  	background: -webkit-gradient(radial, center center, 0, center center, 460, from(green), to(lightblue));
  	background: -webkit-radial-gradient(circle, green, lightblue);
  	background: -moz-radial-gradient(circle, green, lightblue);
  	background: -ms-radial-gradient(circle, green, lightblue);
	color: white;
}

a {	
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: black;
}

a:visited {
	color: white;
}

.head {
	padding-top:20px;
}

header {
	height: 180px;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 60px;
	font-weight: 100;
	line-height: 60px;
	color: white;
	text-shadow: 2px 2px blue;
}

h2 {	
	font-family: 'Permanent Marker', cursive;
	font-size: 24px;
	line-height: 40px;
	font-weight: 100;
	color: white;
	text-shadow: 1px 1px blue;
	margin: 0;
}

h3 {
	font-family: 'Permanent Marker', cursive;
	font-size: 36px;
	font-weight: lighter;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px blue;
}

img.logo {
	width: 300px;
	height: 160px;
}

figure.camera img {
	width: 450px;
	height: 250px;
	border: 5px solid white;
}

ul li,
p {
	font-family: 'Nobile';
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
}

article {
	margin-top: 20px;
}

article a {
	text-decoration: underline;
}
